.page-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.input[type=search] {
    box-shadow: none;
}

.header{
    background-color: #1f49ad;
    color: white;
    border-radius: 10px 10px 10px 10px;


}